{% extends "base.html" %}
{% block title %}Prasanna | admin{% endblock %}
{% block head %}
<style type="text/css">
  .rectangle{
    background-color: #212529; 
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #212529;
    color: #96989a;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>
{% endblock %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="/signout">Signout</a>
  </li>
{% endblock %}
{% block navtext %}
<span class="navbar-text">
    Admin
  </span>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!!! </strong>{{ message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!!! </strong>{{ message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <div class="container" >
        <div class='rectangle'style='margin-top:40px;min-height: 500px;max-width: 800px;margin-left:auto;margin-right:auto;' >
            <h3 style='font-family:monospace;color:#96989a;text-align:center;padding-top:20px;padding-bottom:80px;'>Comments</h3>
            {% for messages in comment %}
            <h6 style='font-family:monospace;color:#96989a;text-align:center;padding-top:20px;'>{{messages.name}}|{{messages.email}}|{{messages.comments}}</h6>   
            {% endfor %}
        </div>
    
{% endblock %}
