{% extends "base.html" %}
{% block head %}
<meta name="google-site-verification" content="FWcNjRyFverWnIwjebGAaGrlbIUphw-xR408L7uTqoc" />
<style type="text/css">
  .rectangle{
    background-color: #212529; 
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #212529;
    color: #96989a;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>
{% endblock %}
{% block title %}Prasanna | Maker{% endblock %}

{% block navtext %}
<li class="nav-item">
  <a class="nav-link active" href="#projects" style='color:white;'>My Projects</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="#contact" style='color:white;'>Say hello</a>
</li>
{% endblock %}
{% block content %}
<div class='rectangle' style='max-width: auto;height: 600px;text-align:center;'>

{% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category ==
  'error' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!!! </strong>{{ message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% else %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!!! </strong>{{ message}}
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
  <img style='margin-top:40px;'src='https://raw.githubusercontent.com/prasannan-robots/My_portfolio/neat/web/templates/assets/Screenshot%20from%202021-03-27%2014-13-28.png'height='250px;' width='250px;'>
  <h1 style='color:whitesmoke;font-family:monospace;margin-top:50px;'>Hi,I am Prasanna</h1>
  <h3 style='font-family:monospace;color:grey;margin-top:30px;'>I build robots and train AI</h2>
  <img src='https://raw.githubusercontent.com/prasannan-robots/My_portfolio/neat/web/templates/assets/arrow.png' width='50px;'height='30px;' style='margin-top:20px;cursor:pointer;'>
</div>
<div class='rectangle' style='width:auto;height:400px;background-color:whitesmoke;'>
  <div style='text-align: center;'>
  
  <h2 style='font-family:monospace;padding-top:100px;'><strong>Nice to meet you</strong></h2>
    <div class="container">
  <h5 style='font-family:monospace;padding-top:20px;'>I am 15 years old. I love making robots,training AI. I'm fluent in <br><br>python, C++ and javascript.I'm naturally curious and love to learn more things.
  </h5>
</div>
  </div>
</div>

<div class='rectangle' style='width:auto;height:auto;text-align: center;'id='projects'>
<h2 style='color:whitesmoke;font-family:monospace;padding-top:60px;'><strong>Projects</strong></h2>
<h4 style='color:whitesmoke;font-family:monospace;'>These are some of my projects i worked on</h4>
<div class="container" style='padding-top:30px;'>
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;margin-top:30px;">
        <img src="https://raw.githubusercontent.com/prasannan-robots/My_portfolio/neat/web/templates/assets/hibot3.png" class="card-img-top" alt="Hibot-3">
        <div class="card-body">
          <p class="card-text" style='font-family:monospace;'>This is a humanoid robot which can be controlled by a mobile app.</p>
        </div>
        </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;margin-top:30px;">
        <img src="https://raw.githubusercontent.com/prasannan-robots/My_portfolio/neat/web/templates/assets/trans.png" class="card-img-top" alt="Radio gaunlet">
        <div class="card-body">
          <p class="card-text" style='font-family:monospace;'>A glove which is a six channel transmitter and receiver.Range is 1km</p>
        </div>
        </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;margin-top:30px;">
        <img src="https://raw.githubusercontent.com/prasannan-robots/My_portfolio/neat/web/templates/assets/nav.png" class="card-img-top" alt="wheel-robot">
        <div class="card-body">
          <p class="card-text" style='font-family:monospace;'>A robot which is used as a testbed for lidar,roz.</p>
        </div>
        </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-sm">
      <div class="card" style="width: 18rem;margin-top:30px;">
        <img src="https://raw.githubusercontent.com/prasannan-robots/My_portfolio/neat/web/templates/assets/food.png" class="card-img-top" alt="Food-algo">
        <div class="card-body">
          <p class="card-text" style='font-family:monospace;'>This is a food predictor using ai.This predicts your next meal.</p>
        </div>
        </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;margin-top:30px;">
        <img src="https://raw.githubusercontent.com/prasannan-robots/My_portfolio/neat/web/templates/assets/Series_algo_plain.PNG" class="card-img-top" alt="Series-algo">
        <div class="card-body">
          <p class="card-text" style='font-family:monospace;'>Series question solver.This is an app which solves series questions using AI</p>
        </div>
        </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;margin-top:30px;">
        <img src="https://raw.githubusercontent.com/prasannan-robots/My_portfolio/neat/web/templates/assets/Biscuit.PNG" class="card-img-top" alt="Biscuit">
        <div class="card-body">
          <p class="card-text" style='font-family:monospace;'><a href='https://biscuitattendance.herokuapp.com/' target='_blank'>Biscuit</a> an Online Attendance helper.</p>
        </div>
        </div>
    </div>
  </div>
</div>

</div>
<div class="rectangle" style='width:auto;height:80px;'></div>
<div class="rectangle" style='width:auto;height:550px;background-color:whitesmoke;' id='contact'>
  <div class="container">
    <h3 style='font-family:monospace;color:black;text-align:center;padding-top:20px;'>Contact me</h3>
    
    <form method='POST' style='padding-top:40px;'>
      <div class="form-floating">
        <input type="text" class="form-control" name="Name" placeholder="Your Name">
        <label for="floatingPassword">Name</label>
      </div>
      <div style='padding-top:20px;'></div>
    
      <div style='padding-top:20px;'></div>
    
      <div class="form-floating mb-3">
        <input type="email" class="form-control" name="Email" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div style='padding-top:20px;'></div>
    
      <div class="form-floating">
        <textarea name='Comments' class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
      <div style='text-align:center;'>
        <input type="submit" class="btn btn-outline-dark" value='submit' style='margin-top:10px;'>
      </div>
    </form>
        
  </div>
</div>
  
  <div class='rectangle' style='width:auto;height:auto;'>
    <div style='text-align: center;padding-top:20px;'>
    <h3 style='font-family:monospace;color:#96989a;'>Contacts</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div style='font-family:monospace;font-size:22px;color:#96989a;text-align:center;padding-top:20px;'>
          Twitter:<a href="https://twitter.com/PRASANN30279359" target='_blank'>@PRASANN30279359</a>
        </div>
        
        <div style='font-family:monospace;font-size:22px;color:#96989a;text-align:center;padding-top:20px;'>
          Github:<a href="https://github.com/prasannan-robots" target='_blank'>Prasanna-Natarajan-3595</a>
        </div>
        </div>
        <div class="col">
          <div style='font-family:monospace;font-size:22px;color:#96989a;text-align:center;padding-top:20px;'>
            Youtube:<a href="https://www.youtube.com/channel/UCyqfcVuppv6s70qNHKQQ2xA" target='_blank'>Prasanna</a>  
          </div>
          
          <div style='font-family:monospace;font-size:22px;color:#96989a;text-align:center;padding-top:20px;'>
            Email:<a href="mailto:prasannanatarajan3595@gmail.com" target='_blank'>Prasanna</a>
          </div>
          </div>
        </div>
  </div>
  </div>
  <div style='text-align: center;width:auto;height:60px;'class='rectangle'>
  <h5 style='font-family:monospace;color:#96989a;padding-top:10px;'>Thanks to freepik</h5><a href='https://www.freepik.com/vectors/people'>People vector created by freepik - www.freepik.com</a>
  </div>
  <div class="rectangle" style='width:auto;height:80px;'></div>
{% endblock %}
